make_blueprints/scenarios/6 – Call Status Logger.blueprint.json
{
    "name": "6 – Call Status Logger",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1667526,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1325,
                    "y": 287,
                    "name": "Twilio Callback (Status + Recording)"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "6 - Call Status Logger"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "CallSid",
                        "type": "text"
                    },
                    {
                        "name": "CallStatus",
                        "type": "text"
                    },
                    {
                        "name": "CallDuration",
                        "type": "text"
                    },
                    {
                        "name": "RecordingSid",
                        "type": "text"
                    },
                    {
                        "name": "RecordingStatus",
                        "type": "text"
                    },
                    {
                        "name": "RecordingDuration",
                        "type": "text"
                    },
                    {
                        "name": "RecordingUrl",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 6401856
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "B",
                            "b": "{{ifempty(1.CallSid; \"\")}}",
                            "o": "text:equal:ci"
                        }
                    ]
                ],
                "sheetId": "Call_Logs",
                "sortOrder": "asc",
                "spreadsheetId": "1i5ypJyAdCShBq3AacjfC2uPdlcMZi-nkSH5IWhfU_9o",
                "tableFirstRow": "A1:ZZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -588,
                    "y": 291,
                    "name": "Search Call_Logs (by CallSid)"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Call_Logs"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "RK_Field_Reporting_MASTER"
                        },
                        "tableFirstRow": {
                            "label": "A-ZZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "https://docs.google.com/spreadsheets/d/1b_Uba8LFmbV14P3UHJnzSnaJ5s-kqtEUt4HVO4iYc6k/edit?usp=sharing (admin@rkcorp.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Call_Log_ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "CallSid (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "ParentCallSid (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "AccountSid (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "From (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "To (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "CallStatus (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Direction (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "ApiVersion (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "FromCity (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "FromState (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "FromZip (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "FromCountry (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "ToCity (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "ToState (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "ToZip (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "ToCountry (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "CallerName (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Digits (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Mode (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Language (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "ReportType (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "Severity_Input (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "SpeechResult (X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "Confidence_Input (Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "Recording_ID (Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "Recording_URL (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "Recording_Duration (AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "Reporter_Phone_E164 (AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "Reporter_Worker_ID (AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "Reporter_Type (AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "Trust_Tier (AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "Needs_Verification (AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "Attempt_Number (AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "Idempotency_Key (AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "Detected_Language (AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "Transcript_AI (AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "AI_Summary (AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "Severity_Tier (AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "Confidence_AI (AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "Transcript_Original (AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "Summary_Original (AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "SiteRow (AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "Worker_ID (AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "Manifest_Date (AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "Updated_At (AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "Notes (AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    },
                    {
                        "name": "104",
                        "type": "text",
                        "label": "(DA)"
                    },
                    {
                        "name": "105",
                        "type": "text",
                        "label": "(DB)"
                    },
                    {
                        "name": "106",
                        "type": "text",
                        "label": "(DC)"
                    },
                    {
                        "name": "107",
                        "type": "text",
                        "label": "(DD)"
                    },
                    {
                        "name": "108",
                        "type": "text",
                        "label": "(DE)"
                    },
                    {
                        "name": "109",
                        "type": "text",
                        "label": "(DF)"
                    },
                    {
                        "name": "110",
                        "type": "text",
                        "label": "(DG)"
                    },
                    {
                        "name": "111",
                        "type": "text",
                        "label": "(DH)"
                    },
                    {
                        "name": "112",
                        "type": "text",
                        "label": "(DI)"
                    },
                    {
                        "name": "113",
                        "type": "text",
                        "label": "(DJ)"
                    },
                    {
                        "name": "114",
                        "type": "text",
                        "label": "(DK)"
                    },
                    {
                        "name": "115",
                        "type": "text",
                        "label": "(DL)"
                    },
                    {
                        "name": "116",
                        "type": "text",
                        "label": "(DM)"
                    },
                    {
                        "name": "117",
                        "type": "text",
                        "label": "(DN)"
                    },
                    {
                        "name": "118",
                        "type": "text",
                        "label": "(DO)"
                    },
                    {
                        "name": "119",
                        "type": "text",
                        "label": "(DP)"
                    },
                    {
                        "name": "120",
                        "type": "text",
                        "label": "(DQ)"
                    },
                    {
                        "name": "121",
                        "type": "text",
                        "label": "(DR)"
                    },
                    {
                        "name": "122",
                        "type": "text",
                        "label": "(DS)"
                    },
                    {
                        "name": "123",
                        "type": "text",
                        "label": "(DT)"
                    },
                    {
                        "name": "124",
                        "type": "text",
                        "label": "(DU)"
                    },
                    {
                        "name": "125",
                        "type": "text",
                        "label": "(DV)"
                    },
                    {
                        "name": "126",
                        "type": "text",
                        "label": "(DW)"
                    },
                    {
                        "name": "127",
                        "type": "text",
                        "label": "(DX)"
                    },
                    {
                        "name": "128",
                        "type": "text",
                        "label": "(DY)"
                    },
                    {
                        "name": "129",
                        "type": "text",
                        "label": "(DZ)"
                    },
                    {
                        "name": "130",
                        "type": "text",
                        "label": "(EA)"
                    },
                    {
                        "name": "131",
                        "type": "text",
                        "label": "(EB)"
                    },
                    {
                        "name": "132",
                        "type": "text",
                        "label": "(EC)"
                    },
                    {
                        "name": "133",
                        "type": "text",
                        "label": "(ED)"
                    },
                    {
                        "name": "134",
                        "type": "text",
                        "label": "(EE)"
                    },
                    {
                        "name": "135",
                        "type": "text",
                        "label": "(EF)"
                    },
                    {
                        "name": "136",
                        "type": "text",
                        "label": "(EG)"
                    },
                    {
                        "name": "137",
                        "type": "text",
                        "label": "(EH)"
                    },
                    {
                        "name": "138",
                        "type": "text",
                        "label": "(EI)"
                    },
                    {
                        "name": "139",
                        "type": "text",
                        "label": "(EJ)"
                    },
                    {
                        "name": "140",
                        "type": "text",
                        "label": "(EK)"
                    },
                    {
                        "name": "141",
                        "type": "text",
                        "label": "(EL)"
                    },
                    {
                        "name": "142",
                        "type": "text",
                        "label": "(EM)"
                    },
                    {
                        "name": "143",
                        "type": "text",
                        "label": "(EN)"
                    },
                    {
                        "name": "144",
                        "type": "text",
                        "label": "(EO)"
                    },
                    {
                        "name": "145",
                        "type": "text",
                        "label": "(EP)"
                    },
                    {
                        "name": "146",
                        "type": "text",
                        "label": "(EQ)"
                    },
                    {
                        "name": "147",
                        "type": "text",
                        "label": "(ER)"
                    },
                    {
                        "name": "148",
                        "type": "text",
                        "label": "(ES)"
                    },
                    {
                        "name": "149",
                        "type": "text",
                        "label": "(ET)"
                    },
                    {
                        "name": "150",
                        "type": "text",
                        "label": "(EU)"
                    },
                    {
                        "name": "151",
                        "type": "text",
                        "label": "(EV)"
                    },
                    {
                        "name": "152",
                        "type": "text",
                        "label": "(EW)"
                    },
                    {
                        "name": "153",
                        "type": "text",
                        "label": "(EX)"
                    },
                    {
                        "name": "154",
                        "type": "text",
                        "label": "(EY)"
                    },
                    {
                        "name": "155",
                        "type": "text",
                        "label": "(EZ)"
                    },
                    {
                        "name": "156",
                        "type": "text",
                        "label": "(FA)"
                    },
                    {
                        "name": "157",
                        "type": "text",
                        "label": "(FB)"
                    },
                    {
                        "name": "158",
                        "type": "text",
                        "label": "(FC)"
                    },
                    {
                        "name": "159",
                        "type": "text",
                        "label": "(FD)"
                    },
                    {
                        "name": "160",
                        "type": "text",
                        "label": "(FE)"
                    },
                    {
                        "name": "161",
                        "type": "text",
                        "label": "(FF)"
                    },
                    {
                        "name": "162",
                        "type": "text",
                        "label": "(FG)"
                    },
                    {
                        "name": "163",
                        "type": "text",
                        "label": "(FH)"
                    },
                    {
                        "name": "164",
                        "type": "text",
                        "label": "(FI)"
                    },
                    {
                        "name": "165",
                        "type": "text",
                        "label": "(FJ)"
                    },
                    {
                        "name": "166",
                        "type": "text",
                        "label": "(FK)"
                    },
                    {
                        "name": "167",
                        "type": "text",
                        "label": "(FL)"
                    },
                    {
                        "name": "168",
                        "type": "text",
                        "label": "(FM)"
                    },
                    {
                        "name": "169",
                        "type": "text",
                        "label": "(FN)"
                    },
                    {
                        "name": "170",
                        "type": "text",
                        "label": "(FO)"
                    },
                    {
                        "name": "171",
                        "type": "text",
                        "label": "(FP)"
                    },
                    {
                        "name": "172",
                        "type": "text",
                        "label": "(FQ)"
                    },
                    {
                        "name": "173",
                        "type": "text",
                        "label": "(FR)"
                    },
                    {
                        "name": "174",
                        "type": "text",
                        "label": "(FS)"
                    },
                    {
                        "name": "175",
                        "type": "text",
                        "label": "(FT)"
                    },
                    {
                        "name": "176",
                        "type": "text",
                        "label": "(FU)"
                    },
                    {
                        "name": "177",
                        "type": "text",
                        "label": "(FV)"
                    },
                    {
                        "name": "178",
                        "type": "text",
                        "label": "(FW)"
                    },
                    {
                        "name": "179",
                        "type": "text",
                        "label": "(FX)"
                    },
                    {
                        "name": "180",
                        "type": "text",
                        "label": "(FY)"
                    },
                    {
                        "name": "181",
                        "type": "text",
                        "label": "(FZ)"
                    },
                    {
                        "name": "182",
                        "type": "text",
                        "label": "(GA)"
                    },
                    {
                        "name": "183",
                        "type": "text",
                        "label": "(GB)"
                    },
                    {
                        "name": "184",
                        "type": "text",
                        "label": "(GC)"
                    },
                    {
                        "name": "185",
                        "type": "text",
                        "label": "(GD)"
                    },
                    {
                        "name": "186",
                        "type": "text",
                        "label": "(GE)"
                    },
                    {
                        "name": "187",
                        "type": "text",
                        "label": "(GF)"
                    },
                    {
                        "name": "188",
                        "type": "text",
                        "label": "(GG)"
                    },
                    {
                        "name": "189",
                        "type": "text",
                        "label": "(GH)"
                    },
                    {
                        "name": "190",
                        "type": "text",
                        "label": "(GI)"
                    },
                    {
                        "name": "191",
                        "type": "text",
                        "label": "(GJ)"
                    },
                    {
                        "name": "192",
                        "type": "text",
                        "label": "(GK)"
                    },
                    {
                        "name": "193",
                        "type": "text",
                        "label": "(GL)"
                    },
                    {
                        "name": "194",
                        "type": "text",
                        "label": "(GM)"
                    },
                    {
                        "name": "195",
                        "type": "text",
                        "label": "(GN)"
                    },
                    {
                        "name": "196",
                        "type": "text",
                        "label": "(GO)"
                    },
                    {
                        "name": "197",
                        "type": "text",
                        "label": "(GP)"
                    },
                    {
                        "name": "198",
                        "type": "text",
                        "label": "(GQ)"
                    },
                    {
                        "name": "199",
                        "type": "text",
                        "label": "(GR)"
                    },
                    {
                        "name": "200",
                        "type": "text",
                        "label": "(GS)"
                    },
                    {
                        "name": "201",
                        "type": "text",
                        "label": "(GT)"
                    },
                    {
                        "name": "202",
                        "type": "text",
                        "label": "(GU)"
                    },
                    {
                        "name": "203",
                        "type": "text",
                        "label": "(GV)"
                    },
                    {
                        "name": "204",
                        "type": "text",
                        "label": "(GW)"
                    },
                    {
                        "name": "205",
                        "type": "text",
                        "label": "(GX)"
                    },
                    {
                        "name": "206",
                        "type": "text",
                        "label": "(GY)"
                    },
                    {
                        "name": "207",
                        "type": "text",
                        "label": "(GZ)"
                    },
                    {
                        "name": "208",
                        "type": "text",
                        "label": "(HA)"
                    },
                    {
                        "name": "209",
                        "type": "text",
                        "label": "(HB)"
                    },
                    {
                        "name": "210",
                        "type": "text",
                        "label": "(HC)"
                    },
                    {
                        "name": "211",
                        "type": "text",
                        "label": "(HD)"
                    },
                    {
                        "name": "212",
                        "type": "text",
                        "label": "(HE)"
                    },
                    {
                        "name": "213",
                        "type": "text",
                        "label": "(HF)"
                    },
                    {
                        "name": "214",
                        "type": "text",
                        "label": "(HG)"
                    },
                    {
                        "name": "215",
                        "type": "text",
                        "label": "(HH)"
                    },
                    {
                        "name": "216",
                        "type": "text",
                        "label": "(HI)"
                    },
                    {
                        "name": "217",
                        "type": "text",
                        "label": "(HJ)"
                    },
                    {
                        "name": "218",
                        "type": "text",
                        "label": "(HK)"
                    },
                    {
                        "name": "219",
                        "type": "text",
                        "label": "(HL)"
                    },
                    {
                        "name": "220",
                        "type": "text",
                        "label": "(HM)"
                    },
                    {
                        "name": "221",
                        "type": "text",
                        "label": "(HN)"
                    },
                    {
                        "name": "222",
                        "type": "text",
                        "label": "(HO)"
                    },
                    {
                        "name": "223",
                        "type": "text",
                        "label": "(HP)"
                    },
                    {
                        "name": "224",
                        "type": "text",
                        "label": "(HQ)"
                    },
                    {
                        "name": "225",
                        "type": "text",
                        "label": "(HR)"
                    },
                    {
                        "name": "226",
                        "type": "text",
                        "label": "(HS)"
                    },
                    {
                        "name": "227",
                        "type": "text",
                        "label": "(HT)"
                    },
                    {
                        "name": "228",
                        "type": "text",
                        "label": "(HU)"
                    },
                    {
                        "name": "229",
                        "type": "text",
                        "label": "(HV)"
                    },
                    {
                        "name": "230",
                        "type": "text",
                        "label": "(HW)"
                    },
                    {
                        "name": "231",
                        "type": "text",
                        "label": "(HX)"
                    },
                    {
                        "name": "232",
                        "type": "text",
                        "label": "(HY)"
                    },
                    {
                        "name": "233",
                        "type": "text",
                        "label": "(HZ)"
                    },
                    {
                        "name": "234",
                        "type": "text",
                        "label": "(IA)"
                    },
                    {
                        "name": "235",
                        "type": "text",
                        "label": "(IB)"
                    },
                    {
                        "name": "236",
                        "type": "text",
                        "label": "(IC)"
                    },
                    {
                        "name": "237",
                        "type": "text",
                        "label": "(ID)"
                    },
                    {
                        "name": "238",
                        "type": "text",
                        "label": "(IE)"
                    },
                    {
                        "name": "239",
                        "type": "text",
                        "label": "(IF)"
                    },
                    {
                        "name": "240",
                        "type": "text",
                        "label": "(IG)"
                    },
                    {
                        "name": "241",
                        "type": "text",
                        "label": "(IH)"
                    },
                    {
                        "name": "242",
                        "type": "text",
                        "label": "(II)"
                    },
                    {
                        "name": "243",
                        "type": "text",
                        "label": "(IJ)"
                    },
                    {
                        "name": "244",
                        "type": "text",
                        "label": "(IK)"
                    },
                    {
                        "name": "245",
                        "type": "text",
                        "label": "(IL)"
                    },
                    {
                        "name": "246",
                        "type": "text",
                        "label": "(IM)"
                    },
                    {
                        "name": "247",
                        "type": "text",
                        "label": "(IN)"
                    },
                    {
                        "name": "248",
                        "type": "text",
                        "label": "(IO)"
                    },
                    {
                        "name": "249",
                        "type": "text",
                        "label": "(IP)"
                    },
                    {
                        "name": "250",
                        "type": "text",
                        "label": "(IQ)"
                    },
                    {
                        "name": "251",
                        "type": "text",
                        "label": "(IR)"
                    },
                    {
                        "name": "252",
                        "type": "text",
                        "label": "(IS)"
                    },
                    {
                        "name": "253",
                        "type": "text",
                        "label": "(IT)"
                    },
                    {
                        "name": "254",
                        "type": "text",
                        "label": "(IU)"
                    },
                    {
                        "name": "255",
                        "type": "text",
                        "label": "(IV)"
                    },
                    {
                        "name": "256",
                        "type": "text",
                        "label": "(IW)"
                    },
                    {
                        "name": "257",
                        "type": "text",
                        "label": "(IX)"
                    },
                    {
                        "name": "258",
                        "type": "text",
                        "label": "(IY)"
                    },
                    {
                        "name": "259",
                        "type": "text",
                        "label": "(IZ)"
                    },
                    {
                        "name": "260",
                        "type": "text",
                        "label": "(JA)"
                    },
                    {
                        "name": "261",
                        "type": "text",
                        "label": "(JB)"
                    },
                    {
                        "name": "262",
                        "type": "text",
                        "label": "(JC)"
                    },
                    {
                        "name": "263",
                        "type": "text",
                        "label": "(JD)"
                    },
                    {
                        "name": "264",
                        "type": "text",
                        "label": "(JE)"
                    },
                    {
                        "name": "265",
                        "type": "text",
                        "label": "(JF)"
                    },
                    {
                        "name": "266",
                        "type": "text",
                        "label": "(JG)"
                    },
                    {
                        "name": "267",
                        "type": "text",
                        "label": "(JH)"
                    },
                    {
                        "name": "268",
                        "type": "text",
                        "label": "(JI)"
                    },
                    {
                        "name": "269",
                        "type": "text",
                        "label": "(JJ)"
                    },
                    {
                        "name": "270",
                        "type": "text",
                        "label": "(JK)"
                    },
                    {
                        "name": "271",
                        "type": "text",
                        "label": "(JL)"
                    },
                    {
                        "name": "272",
                        "type": "text",
                        "label": "(JM)"
                    },
                    {
                        "name": "273",
                        "type": "text",
                        "label": "(JN)"
                    },
                    {
                        "name": "274",
                        "type": "text",
                        "label": "(JO)"
                    },
                    {
                        "name": "275",
                        "type": "text",
                        "label": "(JP)"
                    },
                    {
                        "name": "276",
                        "type": "text",
                        "label": "(JQ)"
                    },
                    {
                        "name": "277",
                        "type": "text",
                        "label": "(JR)"
                    },
                    {
                        "name": "278",
                        "type": "text",
                        "label": "(JS)"
                    },
                    {
                        "name": "279",
                        "type": "text",
                        "label": "(JT)"
                    },
                    {
                        "name": "280",
                        "type": "text",
                        "label": "(JU)"
                    },
                    {
                        "name": "281",
                        "type": "text",
                        "label": "(JV)"
                    },
                    {
                        "name": "282",
                        "type": "text",
                        "label": "(JW)"
                    },
                    {
                        "name": "283",
                        "type": "text",
                        "label": "(JX)"
                    },
                    {
                        "name": "284",
                        "type": "text",
                        "label": "(JY)"
                    },
                    {
                        "name": "285",
                        "type": "text",
                        "label": "(JZ)"
                    },
                    {
                        "name": "286",
                        "type": "text",
                        "label": "(KA)"
                    },
                    {
                        "name": "287",
                        "type": "text",
                        "label": "(KB)"
                    },
                    {
                        "name": "288",
                        "type": "text",
                        "label": "(KC)"
                    },
                    {
                        "name": "289",
                        "type": "text",
                        "label": "(KD)"
                    },
                    {
                        "name": "290",
                        "type": "text",
                        "label": "(KE)"
                    },
                    {
                        "name": "291",
                        "type": "text",
                        "label": "(KF)"
                    },
                    {
                        "name": "292",
                        "type": "text",
                        "label": "(KG)"
                    },
                    {
                        "name": "293",
                        "type": "text",
                        "label": "(KH)"
                    },
                    {
                        "name": "294",
                        "type": "text",
                        "label": "(KI)"
                    },
                    {
                        "name": "295",
                        "type": "text",
                        "label": "(KJ)"
                    },
                    {
                        "name": "296",
                        "type": "text",
                        "label": "(KK)"
                    },
                    {
                        "name": "297",
                        "type": "text",
                        "label": "(KL)"
                    },
                    {
                        "name": "298",
                        "type": "text",
                        "label": "(KM)"
                    },
                    {
                        "name": "299",
                        "type": "text",
                        "label": "(KN)"
                    },
                    {
                        "name": "300",
                        "type": "text",
                        "label": "(KO)"
                    },
                    {
                        "name": "301",
                        "type": "text",
                        "label": "(KP)"
                    },
                    {
                        "name": "302",
                        "type": "text",
                        "label": "(KQ)"
                    },
                    {
                        "name": "303",
                        "type": "text",
                        "label": "(KR)"
                    },
                    {
                        "name": "304",
                        "type": "text",
                        "label": "(KS)"
                    },
                    {
                        "name": "305",
                        "type": "text",
                        "label": "(KT)"
                    },
                    {
                        "name": "306",
                        "type": "text",
                        "label": "(KU)"
                    },
                    {
                        "name": "307",
                        "type": "text",
                        "label": "(KV)"
                    },
                    {
                        "name": "308",
                        "type": "text",
                        "label": "(KW)"
                    },
                    {
                        "name": "309",
                        "type": "text",
                        "label": "(KX)"
                    },
                    {
                        "name": "310",
                        "type": "text",
                        "label": "(KY)"
                    },
                    {
                        "name": "311",
                        "type": "text",
                        "label": "(KZ)"
                    },
                    {
                        "name": "312",
                        "type": "text",
                        "label": "(LA)"
                    },
                    {
                        "name": "313",
                        "type": "text",
                        "label": "(LB)"
                    },
                    {
                        "name": "314",
                        "type": "text",
                        "label": "(LC)"
                    },
                    {
                        "name": "315",
                        "type": "text",
                        "label": "(LD)"
                    },
                    {
                        "name": "316",
                        "type": "text",
                        "label": "(LE)"
                    },
                    {
                        "name": "317",
                        "type": "text",
                        "label": "(LF)"
                    },
                    {
                        "name": "318",
                        "type": "text",
                        "label": "(LG)"
                    },
                    {
                        "name": "319",
                        "type": "text",
                        "label": "(LH)"
                    },
                    {
                        "name": "320",
                        "type": "text",
                        "label": "(LI)"
                    },
                    {
                        "name": "321",
                        "type": "text",
                        "label": "(LJ)"
                    },
                    {
                        "name": "322",
                        "type": "text",
                        "label": "(LK)"
                    },
                    {
                        "name": "323",
                        "type": "text",
                        "label": "(LL)"
                    },
                    {
                        "name": "324",
                        "type": "text",
                        "label": "(LM)"
                    },
                    {
                        "name": "325",
                        "type": "text",
                        "label": "(LN)"
                    },
                    {
                        "name": "326",
                        "type": "text",
                        "label": "(LO)"
                    },
                    {
                        "name": "327",
                        "type": "text",
                        "label": "(LP)"
                    },
                    {
                        "name": "328",
                        "type": "text",
                        "label": "(LQ)"
                    },
                    {
                        "name": "329",
                        "type": "text",
                        "label": "(LR)"
                    },
                    {
                        "name": "330",
                        "type": "text",
                        "label": "(LS)"
                    },
                    {
                        "name": "331",
                        "type": "text",
                        "label": "(LT)"
                    },
                    {
                        "name": "332",
                        "type": "text",
                        "label": "(LU)"
                    },
                    {
                        "name": "333",
                        "type": "text",
                        "label": "(LV)"
                    },
                    {
                        "name": "334",
                        "type": "text",
                        "label": "(LW)"
                    },
                    {
                        "name": "335",
                        "type": "text",
                        "label": "(LX)"
                    },
                    {
                        "name": "336",
                        "type": "text",
                        "label": "(LY)"
                    },
                    {
                        "name": "337",
                        "type": "text",
                        "label": "(LZ)"
                    },
                    {
                        "name": "338",
                        "type": "text",
                        "label": "(MA)"
                    },
                    {
                        "name": "339",
                        "type": "text",
                        "label": "(MB)"
                    },
                    {
                        "name": "340",
                        "type": "text",
                        "label": "(MC)"
                    },
                    {
                        "name": "341",
                        "type": "text",
                        "label": "(MD)"
                    },
                    {
                        "name": "342",
                        "type": "text",
                        "label": "(ME)"
                    },
                    {
                        "name": "343",
                        "type": "text",
                        "label": "(MF)"
                    },
                    {
                        "name": "344",
                        "type": "text",
                        "label": "(MG)"
                    },
                    {
                        "name": "345",
                        "type": "text",
                        "label": "(MH)"
                    },
                    {
                        "name": "346",
                        "type": "text",
                        "label": "(MI)"
                    },
                    {
                        "name": "347",
                        "type": "text",
                        "label": "(MJ)"
                    },
                    {
                        "name": "348",
                        "type": "text",
                        "label": "(MK)"
                    },
                    {
                        "name": "349",
                        "type": "text",
                        "label": "(ML)"
                    },
                    {
                        "name": "350",
                        "type": "text",
                        "label": "(MM)"
                    },
                    {
                        "name": "351",
                        "type": "text",
                        "label": "(MN)"
                    },
                    {
                        "name": "352",
                        "type": "text",
                        "label": "(MO)"
                    },
                    {
                        "name": "353",
                        "type": "text",
                        "label": "(MP)"
                    },
                    {
                        "name": "354",
                        "type": "text",
                        "label": "(MQ)"
                    },
                    {
                        "name": "355",
                        "type": "text",
                        "label": "(MR)"
                    },
                    {
                        "name": "356",
                        "type": "text",
                        "label": "(MS)"
                    },
                    {
                        "name": "357",
                        "type": "text",
                        "label": "(MT)"
                    },
                    {
                        "name": "358",
                        "type": "text",
                        "label": "(MU)"
                    },
                    {
                        "name": "359",
                        "type": "text",
                        "label": "(MV)"
                    },
                    {
                        "name": "360",
                        "type": "text",
                        "label": "(MW)"
                    },
                    {
                        "name": "361",
                        "type": "text",
                        "label": "(MX)"
                    },
                    {
                        "name": "362",
                        "type": "text",
                        "label": "(MY)"
                    },
                    {
                        "name": "363",
                        "type": "text",
                        "label": "(MZ)"
                    },
                    {
                        "name": "364",
                        "type": "text",
                        "label": "(NA)"
                    },
                    {
                        "name": "365",
                        "type": "text",
                        "label": "(NB)"
                    },
                    {
                        "name": "366",
                        "type": "text",
                        "label": "(NC)"
                    },
                    {
                        "name": "367",
                        "type": "text",
                        "label": "(ND)"
                    },
                    {
                        "name": "368",
                        "type": "text",
                        "label": "(NE)"
                    },
                    {
                        "name": "369",
                        "type": "text",
                        "label": "(NF)"
                    },
                    {
                        "name": "370",
                        "type": "text",
                        "label": "(NG)"
                    },
                    {
                        "name": "371",
                        "type": "text",
                        "label": "(NH)"
                    },
                    {
                        "name": "372",
                        "type": "text",
                        "label": "(NI)"
                    },
                    {
                        "name": "373",
                        "type": "text",
                        "label": "(NJ)"
                    },
                    {
                        "name": "374",
                        "type": "text",
                        "label": "(NK)"
                    },
                    {
                        "name": "375",
                        "type": "text",
                        "label": "(NL)"
                    },
                    {
                        "name": "376",
                        "type": "text",
                        "label": "(NM)"
                    },
                    {
                        "name": "377",
                        "type": "text",
                        "label": "(NN)"
                    },
                    {
                        "name": "378",
                        "type": "text",
                        "label": "(NO)"
                    },
                    {
                        "name": "379",
                        "type": "text",
                        "label": "(NP)"
                    },
                    {
                        "name": "380",
                        "type": "text",
                        "label": "(NQ)"
                    },
                    {
                        "name": "381",
                        "type": "text",
                        "label": "(NR)"
                    },
                    {
                        "name": "382",
                        "type": "text",
                        "label": "(NS)"
                    },
                    {
                        "name": "383",
                        "type": "text",
                        "label": "(NT)"
                    },
                    {
                        "name": "384",
                        "type": "text",
                        "label": "(NU)"
                    },
                    {
                        "name": "385",
                        "type": "text",
                        "label": "(NV)"
                    },
                    {
                        "name": "386",
                        "type": "text",
                        "label": "(NW)"
                    },
                    {
                        "name": "387",
                        "type": "text",
                        "label": "(NX)"
                    },
                    {
                        "name": "388",
                        "type": "text",
                        "label": "(NY)"
                    },
                    {
                        "name": "389",
                        "type": "text",
                        "label": "(NZ)"
                    },
                    {
                        "name": "390",
                        "type": "text",
                        "label": "(OA)"
                    },
                    {
                        "name": "391",
                        "type": "text",
                        "label": "(OB)"
                    },
                    {
                        "name": "392",
                        "type": "text",
                        "label": "(OC)"
                    },
                    {
                        "name": "393",
                        "type": "text",
                        "label": "(OD)"
                    },
                    {
                        "name": "394",
                        "type": "text",
                        "label": "(OE)"
                    },
                    {
                        "name": "395",
                        "type": "text",
                        "label": "(OF)"
                    },
                    {
                        "name": "396",
                        "type": "text",
                        "label": "(OG)"
                    },
                    {
                        "name": "397",
                        "type": "text",
                        "label": "(OH)"
                    },
                    {
                        "name": "398",
                        "type": "text",
                        "label": "(OI)"
                    },
                    {
                        "name": "399",
                        "type": "text",
                        "label": "(OJ)"
                    },
                    {
                        "name": "400",
                        "type": "text",
                        "label": "(OK)"
                    },
                    {
                        "name": "401",
                        "type": "text",
                        "label": "(OL)"
                    },
                    {
                        "name": "402",
                        "type": "text",
                        "label": "(OM)"
                    },
                    {
                        "name": "403",
                        "type": "text",
                        "label": "(ON)"
                    },
                    {
                        "name": "404",
                        "type": "text",
                        "label": "(OO)"
                    },
                    {
                        "name": "405",
                        "type": "text",
                        "label": "(OP)"
                    },
                    {
                        "name": "406",
                        "type": "text",
                        "label": "(OQ)"
                    },
                    {
                        "name": "407",
                        "type": "text",
                        "label": "(OR)"
                    },
                    {
                        "name": "408",
                        "type": "text",
                        "label": "(OS)"
                    },
                    {
                        "name": "409",
                        "type": "text",
                        "label": "(OT)"
                    },
                    {
                        "name": "410",
                        "type": "text",
                        "label": "(OU)"
                    },
                    {
                        "name": "411",
                        "type": "text",
                        "label": "(OV)"
                    },
                    {
                        "name": "412",
                        "type": "text",
                        "label": "(OW)"
                    },
                    {
                        "name": "413",
                        "type": "text",
                        "label": "(OX)"
                    },
                    {
                        "name": "414",
                        "type": "text",
                        "label": "(OY)"
                    },
                    {
                        "name": "415",
                        "type": "text",
                        "label": "(OZ)"
                    },
                    {
                        "name": "416",
                        "type": "text",
                        "label": "(PA)"
                    },
                    {
                        "name": "417",
                        "type": "text",
                        "label": "(PB)"
                    },
                    {
                        "name": "418",
                        "type": "text",
                        "label": "(PC)"
                    },
                    {
                        "name": "419",
                        "type": "text",
                        "label": "(PD)"
                    },
                    {
                        "name": "420",
                        "type": "text",
                        "label": "(PE)"
                    },
                    {
                        "name": "421",
                        "type": "text",
                        "label": "(PF)"
                    },
                    {
                        "name": "422",
                        "type": "text",
                        "label": "(PG)"
                    },
                    {
                        "name": "423",
                        "type": "text",
                        "label": "(PH)"
                    },
                    {
                        "name": "424",
                        "type": "text",
                        "label": "(PI)"
                    },
                    {
                        "name": "425",
                        "type": "text",
                        "label": "(PJ)"
                    },
                    {
                        "name": "426",
                        "type": "text",
                        "label": "(PK)"
                    },
                    {
                        "name": "427",
                        "type": "text",
                        "label": "(PL)"
                    },
                    {
                        "name": "428",
                        "type": "text",
                        "label": "(PM)"
                    },
                    {
                        "name": "429",
                        "type": "text",
                        "label": "(PN)"
                    },
                    {
                        "name": "430",
                        "type": "text",
                        "label": "(PO)"
                    },
                    {
                        "name": "431",
                        "type": "text",
                        "label": "(PP)"
                    },
                    {
                        "name": "432",
                        "type": "text",
                        "label": "(PQ)"
                    },
                    {
                        "name": "433",
                        "type": "text",
                        "label": "(PR)"
                    },
                    {
                        "name": "434",
                        "type": "text",
                        "label": "(PS)"
                    },
                    {
                        "name": "435",
                        "type": "text",
                        "label": "(PT)"
                    },
                    {
                        "name": "436",
                        "type": "text",
                        "label": "(PU)"
                    },
                    {
                        "name": "437",
                        "type": "text",
                        "label": "(PV)"
                    },
                    {
                        "name": "438",
                        "type": "text",
                        "label": "(PW)"
                    },
                    {
                        "name": "439",
                        "type": "text",
                        "label": "(PX)"
                    },
                    {
                        "name": "440",
                        "type": "text",
                        "label": "(PY)"
                    },
                    {
                        "name": "441",
                        "type": "text",
                        "label": "(PZ)"
                    },
                    {
                        "name": "442",
                        "type": "text",
                        "label": "(QA)"
                    },
                    {
                        "name": "443",
                        "type": "text",
                        "label": "(QB)"
                    },
                    {
                        "name": "444",
                        "type": "text",
                        "label": "(QC)"
                    },
                    {
                        "name": "445",
                        "type": "text",
                        "label": "(QD)"
                    },
                    {
                        "name": "446",
                        "type": "text",
                        "label": "(QE)"
                    },
                    {
                        "name": "447",
                        "type": "text",
                        "label": "(QF)"
                    },
                    {
                        "name": "448",
                        "type": "text",
                        "label": "(QG)"
                    },
                    {
                        "name": "449",
                        "type": "text",
                        "label": "(QH)"
                    },
                    {
                        "name": "450",
                        "type": "text",
                        "label": "(QI)"
                    },
                    {
                        "name": "451",
                        "type": "text",
                        "label": "(QJ)"
                    },
                    {
                        "name": "452",
                        "type": "text",
                        "label": "(QK)"
                    },
                    {
                        "name": "453",
                        "type": "text",
                        "label": "(QL)"
                    },
                    {
                        "name": "454",
                        "type": "text",
                        "label": "(QM)"
                    },
                    {
                        "name": "455",
                        "type": "text",
                        "label": "(QN)"
                    },
                    {
                        "name": "456",
                        "type": "text",
                        "label": "(QO)"
                    },
                    {
                        "name": "457",
                        "type": "text",
                        "label": "(QP)"
                    },
                    {
                        "name": "458",
                        "type": "text",
                        "label": "(QQ)"
                    },
                    {
                        "name": "459",
                        "type": "text",
                        "label": "(QR)"
                    },
                    {
                        "name": "460",
                        "type": "text",
                        "label": "(QS)"
                    },
                    {
                        "name": "461",
                        "type": "text",
                        "label": "(QT)"
                    },
                    {
                        "name": "462",
                        "type": "text",
                        "label": "(QU)"
                    },
                    {
                        "name": "463",
                        "type": "text",
                        "label": "(QV)"
                    },
                    {
                        "name": "464",
                        "type": "text",
                        "label": "(QW)"
                    },
                    {
                        "name": "465",
                        "type": "text",
                        "label": "(QX)"
                    },
                    {
                        "name": "466",
                        "type": "text",
                        "label": "(QY)"
                    },
                    {
                        "name": "467",
                        "type": "text",
                        "label": "(QZ)"
                    },
                    {
                        "name": "468",
                        "type": "text",
                        "label": "(RA)"
                    },
                    {
                        "name": "469",
                        "type": "text",
                        "label": "(RB)"
                    },
                    {
                        "name": "470",
                        "type": "text",
                        "label": "(RC)"
                    },
                    {
                        "name": "471",
                        "type": "text",
                        "label": "(RD)"
                    },
                    {
                        "name": "472",
                        "type": "text",
                        "label": "(RE)"
                    },
                    {
                        "name": "473",
                        "type": "text",
                        "label": "(RF)"
                    },
                    {
                        "name": "474",
                        "type": "text",
                        "label": "(RG)"
                    },
                    {
                        "name": "475",
                        "type": "text",
                        "label": "(RH)"
                    },
                    {
                        "name": "476",
                        "type": "text",
                        "label": "(RI)"
                    },
                    {
                        "name": "477",
                        "type": "text",
                        "label": "(RJ)"
                    },
                    {
                        "name": "478",
                        "type": "text",
                        "label": "(RK)"
                    },
                    {
                        "name": "479",
                        "type": "text",
                        "label": "(RL)"
                    },
                    {
                        "name": "480",
                        "type": "text",
                        "label": "(RM)"
                    },
                    {
                        "name": "481",
                        "type": "text",
                        "label": "(RN)"
                    },
                    {
                        "name": "482",
                        "type": "text",
                        "label": "(RO)"
                    },
                    {
                        "name": "483",
                        "type": "text",
                        "label": "(RP)"
                    },
                    {
                        "name": "484",
                        "type": "text",
                        "label": "(RQ)"
                    },
                    {
                        "name": "485",
                        "type": "text",
                        "label": "(RR)"
                    },
                    {
                        "name": "486",
                        "type": "text",
                        "label": "(RS)"
                    },
                    {
                        "name": "487",
                        "type": "text",
                        "label": "(RT)"
                    },
                    {
                        "name": "488",
                        "type": "text",
                        "label": "(RU)"
                    },
                    {
                        "name": "489",
                        "type": "text",
                        "label": "(RV)"
                    },
                    {
                        "name": "490",
                        "type": "text",
                        "label": "(RW)"
                    },
                    {
                        "name": "491",
                        "type": "text",
                        "label": "(RX)"
                    },
                    {
                        "name": "492",
                        "type": "text",
                        "label": "(RY)"
                    },
                    {
                        "name": "493",
                        "type": "text",
                        "label": "(RZ)"
                    },
                    {
                        "name": "494",
                        "type": "text",
                        "label": "(SA)"
                    },
                    {
                        "name": "495",
                        "type": "text",
                        "label": "(SB)"
                    },
                    {
                        "name": "496",
                        "type": "text",
                        "label": "(SC)"
                    },
                    {
                        "name": "497",
                        "type": "text",
                        "label": "(SD)"
                    },
                    {
                        "name": "498",
                        "type": "text",
                        "label": "(SE)"
                    },
                    {
                        "name": "499",
                        "type": "text",
                        "label": "(SF)"
                    },
                    {
                        "name": "500",
                        "type": "text",
                        "label": "(SG)"
                    },
                    {
                        "name": "501",
                        "type": "text",
                        "label": "(SH)"
                    },
                    {
                        "name": "502",
                        "type": "text",
                        "label": "(SI)"
                    },
                    {
                        "name": "503",
                        "type": "text",
                        "label": "(SJ)"
                    },
                    {
                        "name": "504",
                        "type": "text",
                        "label": "(SK)"
                    },
                    {
                        "name": "505",
                        "type": "text",
                        "label": "(SL)"
                    },
                    {
                        "name": "506",
                        "type": "text",
                        "label": "(SM)"
                    },
                    {
                        "name": "507",
                        "type": "text",
                        "label": "(SN)"
                    },
                    {
                        "name": "508",
                        "type": "text",
                        "label": "(SO)"
                    },
                    {
                        "name": "509",
                        "type": "text",
                        "label": "(SP)"
                    },
                    {
                        "name": "510",
                        "type": "text",
                        "label": "(SQ)"
                    },
                    {
                        "name": "511",
                        "type": "text",
                        "label": "(SR)"
                    },
                    {
                        "name": "512",
                        "type": "text",
                        "label": "(SS)"
                    },
                    {
                        "name": "513",
                        "type": "text",
                        "label": "(ST)"
                    },
                    {
                        "name": "514",
                        "type": "text",
                        "label": "(SU)"
                    },
                    {
                        "name": "515",
                        "type": "text",
                        "label": "(SV)"
                    },
                    {
                        "name": "516",
                        "type": "text",
                        "label": "(SW)"
                    },
                    {
                        "name": "517",
                        "type": "text",
                        "label": "(SX)"
                    },
                    {
                        "name": "518",
                        "type": "text",
                        "label": "(SY)"
                    },
                    {
                        "name": "519",
                        "type": "text",
                        "label": "(SZ)"
                    },
                    {
                        "name": "520",
                        "type": "text",
                        "label": "(TA)"
                    },
                    {
                        "name": "521",
                        "type": "text",
                        "label": "(TB)"
                    },
                    {
                        "name": "522",
                        "type": "text",
                        "label": "(TC)"
                    },
                    {
                        "name": "523",
                        "type": "text",
                        "label": "(TD)"
                    },
                    {
                        "name": "524",
                        "type": "text",
                        "label": "(TE)"
                    },
                    {
                        "name": "525",
                        "type": "text",
                        "label": "(TF)"
                    },
                    {
                        "name": "526",
                        "type": "text",
                        "label": "(TG)"
                    },
                    {
                        "name": "527",
                        "type": "text",
                        "label": "(TH)"
                    },
                    {
                        "name": "528",
                        "type": "text",
                        "label": "(TI)"
                    },
                    {
                        "name": "529",
                        "type": "text",
                        "label": "(TJ)"
                    },
                    {
                        "name": "530",
                        "type": "text",
                        "label": "(TK)"
                    },
                    {
                        "name": "531",
                        "type": "text",
                        "label": "(TL)"
                    },
                    {
                        "name": "532",
                        "type": "text",
                        "label": "(TM)"
                    },
                    {
                        "name": "533",
                        "type": "text",
                        "label": "(TN)"
                    },
                    {
                        "name": "534",
                        "type": "text",
                        "label": "(TO)"
                    },
                    {
                        "name": "535",
                        "type": "text",
                        "label": "(TP)"
                    },
                    {
                        "name": "536",
                        "type": "text",
                        "label": "(TQ)"
                    },
                    {
                        "name": "537",
                        "type": "text",
                        "label": "(TR)"
                    },
                    {
                        "name": "538",
                        "type": "text",
                        "label": "(TS)"
                    },
                    {
                        "name": "539",
                        "type": "text",
                        "label": "(TT)"
                    },
                    {
                        "name": "540",
                        "type": "text",
                        "label": "(TU)"
                    },
                    {
                        "name": "541",
                        "type": "text",
                        "label": "(TV)"
                    },
                    {
                        "name": "542",
                        "type": "text",
                        "label": "(TW)"
                    },
                    {
                        "name": "543",
                        "type": "text",
                        "label": "(TX)"
                    },
                    {
                        "name": "544",
                        "type": "text",
                        "label": "(TY)"
                    },
                    {
                        "name": "545",
                        "type": "text",
                        "label": "(TZ)"
                    },
                    {
                        "name": "546",
                        "type": "text",
                        "label": "(UA)"
                    },
                    {
                        "name": "547",
                        "type": "text",
                        "label": "(UB)"
                    },
                    {
                        "name": "548",
                        "type": "text",
                        "label": "(UC)"
                    },
                    {
                        "name": "549",
                        "type": "text",
                        "label": "(UD)"
                    },
                    {
                        "name": "550",
                        "type": "text",
                        "label": "(UE)"
                    },
                    {
                        "name": "551",
                        "type": "text",
                        "label": "(UF)"
                    },
                    {
                        "name": "552",
                        "type": "text",
                        "label": "(UG)"
                    },
                    {
                        "name": "553",
                        "type": "text",
                        "label": "(UH)"
                    },
                    {
                        "name": "554",
                        "type": "text",
                        "label": "(UI)"
                    },
                    {
                        "name": "555",
                        "type": "text",
                        "label": "(UJ)"
                    },
                    {
                        "name": "556",
                        "type": "text",
                        "label": "(UK)"
                    },
                    {
                        "name": "557",
                        "type": "text",
                        "label": "(UL)"
                    },
                    {
                        "name": "558",
                        "type": "text",
                        "label": "(UM)"
                    },
                    {
                        "name": "559",
                        "type": "text",
                        "label": "(UN)"
                    },
                    {
                        "name": "560",
                        "type": "text",
                        "label": "(UO)"
                    },
                    {
                        "name": "561",
                        "type": "text",
                        "label": "(UP)"
                    },
                    {
                        "name": "562",
                        "type": "text",
                        "label": "(UQ)"
                    },
                    {
                        "name": "563",
                        "type": "text",
                        "label": "(UR)"
                    },
                    {
                        "name": "564",
                        "type": "text",
                        "label": "(US)"
                    },
                    {
                        "name": "565",
                        "type": "text",
                        "label": "(UT)"
                    },
                    {
                        "name": "566",
                        "type": "text",
                        "label": "(UU)"
                    },
                    {
                        "name": "567",
                        "type": "text",
                        "label": "(UV)"
                    },
                    {
                        "name": "568",
                        "type": "text",
                        "label": "(UW)"
                    },
                    {
                        "name": "569",
                        "type": "text",
                        "label": "(UX)"
                    },
                    {
                        "name": "570",
                        "type": "text",
                        "label": "(UY)"
                    },
                    {
                        "name": "571",
                        "type": "text",
                        "label": "(UZ)"
                    },
                    {
                        "name": "572",
                        "type": "text",
                        "label": "(VA)"
                    },
                    {
                        "name": "573",
                        "type": "text",
                        "label": "(VB)"
                    },
                    {
                        "name": "574",
                        "type": "text",
                        "label": "(VC)"
                    },
                    {
                        "name": "575",
                        "type": "text",
                        "label": "(VD)"
                    },
                    {
                        "name": "576",
                        "type": "text",
                        "label": "(VE)"
                    },
                    {
                        "name": "577",
                        "type": "text",
                        "label": "(VF)"
                    },
                    {
                        "name": "578",
                        "type": "text",
                        "label": "(VG)"
                    },
                    {
                        "name": "579",
                        "type": "text",
                        "label": "(VH)"
                    },
                    {
                        "name": "580",
                        "type": "text",
                        "label": "(VI)"
                    },
                    {
                        "name": "581",
                        "type": "text",
                        "label": "(VJ)"
                    },
                    {
                        "name": "582",
                        "type": "text",
                        "label": "(VK)"
                    },
                    {
                        "name": "583",
                        "type": "text",
                        "label": "(VL)"
                    },
                    {
                        "name": "584",
                        "type": "text",
                        "label": "(VM)"
                    },
                    {
                        "name": "585",
                        "type": "text",
                        "label": "(VN)"
                    },
                    {
                        "name": "586",
                        "type": "text",
                        "label": "(VO)"
                    },
                    {
                        "name": "587",
                        "type": "text",
                        "label": "(VP)"
                    },
                    {
                        "name": "588",
                        "type": "text",
                        "label": "(VQ)"
                    },
                    {
                        "name": "589",
                        "type": "text",
                        "label": "(VR)"
                    },
                    {
                        "name": "590",
                        "type": "text",
                        "label": "(VS)"
                    },
                    {
                        "name": "591",
                        "type": "text",
                        "label": "(VT)"
                    },
                    {
                        "name": "592",
                        "type": "text",
                        "label": "(VU)"
                    },
                    {
                        "name": "593",
                        "type": "text",
                        "label": "(VV)"
                    },
                    {
                        "name": "594",
                        "type": "text",
                        "label": "(VW)"
                    },
                    {
                        "name": "595",
                        "type": "text",
                        "label": "(VX)"
                    },
                    {
                        "name": "596",
                        "type": "text",
                        "label": "(VY)"
                    },
                    {
                        "name": "597",
                        "type": "text",
                        "label": "(VZ)"
                    },
                    {
                        "name": "598",
                        "type": "text",
                        "label": "(WA)"
                    },
                    {
                        "name": "599",
                        "type": "text",
                        "label": "(WB)"
                    },
                    {
                        "name": "600",
                        "type": "text",
                        "label": "(WC)"
                    },
                    {
                        "name": "601",
                        "type": "text",
                        "label": "(WD)"
                    },
                    {
                        "name": "602",
                        "type": "text",
                        "label": "(WE)"
                    },
                    {
                        "name": "603",
                        "type": "text",
                        "label": "(WF)"
                    },
                    {
                        "name": "604",
                        "type": "text",
                        "label": "(WG)"
                    },
                    {
                        "name": "605",
                        "type": "text",
                        "label": "(WH)"
                    },
                    {
                        "name": "606",
                        "type": "text",
                        "label": "(WI)"
                    },
                    {
                        "name": "607",
                        "type": "text",
                        "label": "(WJ)"
                    },
                    {
                        "name": "608",
                        "type": "text",
                        "label": "(WK)"
                    },
                    {
                        "name": "609",
                        "type": "text",
                        "label": "(WL)"
                    },
                    {
                        "name": "610",
                        "type": "text",
                        "label": "(WM)"
                    },
                    {
                        "name": "611",
                        "type": "text",
                        "label": "(WN)"
                    },
                    {
                        "name": "612",
                        "type": "text",
                        "label": "(WO)"
                    },
                    {
                        "name": "613",
                        "type": "text",
                        "label": "(WP)"
                    },
                    {
                        "name": "614",
                        "type": "text",
                        "label": "(WQ)"
                    },
                    {
                        "name": "615",
                        "type": "text",
                        "label": "(WR)"
                    },
                    {
                        "name": "616",
                        "type": "text",
                        "label": "(WS)"
                    },
                    {
                        "name": "617",
                        "type": "text",
                        "label": "(WT)"
                    },
                    {
                        "name": "618",
                        "type": "text",
                        "label": "(WU)"
                    },
                    {
                        "name": "619",
                        "type": "text",
                        "label": "(WV)"
                    },
                    {
                        "name": "620",
                        "type": "text",
                        "label": "(WW)"
                    },
                    {
                        "name": "621",
                        "type": "text",
                        "label": "(WX)"
                    },
                    {
                        "name": "622",
                        "type": "text",
                        "label": "(WY)"
                    },
                    {
                        "name": "623",
                        "type": "text",
                        "label": "(WZ)"
                    },
                    {
                        "name": "624",
                        "type": "text",
                        "label": "(XA)"
                    },
                    {
                        "name": "625",
                        "type": "text",
                        "label": "(XB)"
                    },
                    {
                        "name": "626",
                        "type": "text",
                        "label": "(XC)"
                    },
                    {
                        "name": "627",
                        "type": "text",
                        "label": "(XD)"
                    },
                    {
                        "name": "628",
                        "type": "text",
                        "label": "(XE)"
                    },
                    {
                        "name": "629",
                        "type": "text",
                        "label": "(XF)"
                    },
                    {
                        "name": "630",
                        "type": "text",
                        "label": "(XG)"
                    },
                    {
                        "name": "631",
                        "type": "text",
                        "label": "(XH)"
                    },
                    {
                        "name": "632",
                        "type": "text",
                        "label": "(XI)"
                    },
                    {
                        "name": "633",
                        "type": "text",
                        "label": "(XJ)"
                    },
                    {
                        "name": "634",
                        "type": "text",
                        "label": "(XK)"
                    },
                    {
                        "name": "635",
                        "type": "text",
                        "label": "(XL)"
                    },
                    {
                        "name": "636",
                        "type": "text",
                        "label": "(XM)"
                    },
                    {
                        "name": "637",
                        "type": "text",
                        "label": "(XN)"
                    },
                    {
                        "name": "638",
                        "type": "text",
                        "label": "(XO)"
                    },
                    {
                        "name": "639",
                        "type": "text",
                        "label": "(XP)"
                    },
                    {
                        "name": "640",
                        "type": "text",
                        "label": "(XQ)"
                    },
                    {
                        "name": "641",
                        "type": "text",
                        "label": "(XR)"
                    },
                    {
                        "name": "642",
                        "type": "text",
                        "label": "(XS)"
                    },
                    {
                        "name": "643",
                        "type": "text",
                        "label": "(XT)"
                    },
                    {
                        "name": "644",
                        "type": "text",
                        "label": "(XU)"
                    },
                    {
                        "name": "645",
                        "type": "text",
                        "label": "(XV)"
                    },
                    {
                        "name": "646",
                        "type": "text",
                        "label": "(XW)"
                    },
                    {
                        "name": "647",
                        "type": "text",
                        "label": "(XX)"
                    },
                    {
                        "name": "648",
                        "type": "text",
                        "label": "(XY)"
                    },
                    {
                        "name": "649",
                        "type": "text",
                        "label": "(XZ)"
                    },
                    {
                        "name": "650",
                        "type": "text",
                        "label": "(YA)"
                    },
                    {
                        "name": "651",
                        "type": "text",
                        "label": "(YB)"
                    },
                    {
                        "name": "652",
                        "type": "text",
                        "label": "(YC)"
                    },
                    {
                        "name": "653",
                        "type": "text",
                        "label": "(YD)"
                    },
                    {
                        "name": "654",
                        "type": "text",
                        "label": "(YE)"
                    },
                    {
                        "name": "655",
                        "type": "text",
                        "label": "(YF)"
                    },
                    {
                        "name": "656",
                        "type": "text",
                        "label": "(YG)"
                    },
                    {
                        "name": "657",
                        "type": "text",
                        "label": "(YH)"
                    },
                    {
                        "name": "658",
                        "type": "text",
                        "label": "(YI)"
                    },
                    {
                        "name": "659",
                        "type": "text",
                        "label": "(YJ)"
                    },
                    {
                        "name": "660",
                        "type": "text",
                        "label": "(YK)"
                    },
                    {
                        "name": "661",
                        "type": "text",
                        "label": "(YL)"
                    },
                    {
                        "name": "662",
                        "type": "text",
                        "label": "(YM)"
                    },
                    {
                        "name": "663",
                        "type": "text",
                        "label": "(YN)"
                    },
                    {
                        "name": "664",
                        "type": "text",
                        "label": "(YO)"
                    },
                    {
                        "name": "665",
                        "type": "text",
                        "label": "(YP)"
                    },
                    {
                        "name": "666",
                        "type": "text",
                        "label": "(YQ)"
                    },
                    {
                        "name": "667",
                        "type": "text",
                        "label": "(YR)"
                    },
                    {
                        "name": "668",
                        "type": "text",
                        "label": "(YS)"
                    },
                    {
                        "name": "669",
                        "type": "text",
                        "label": "(YT)"
                    },
                    {
                        "name": "670",
                        "type": "text",
                        "label": "(YU)"
                    },
                    {
                        "name": "671",
                        "type": "text",
                        "label": "(YV)"
                    },
                    {
                        "name": "672",
                        "type": "text",
                        "label": "(YW)"
                    },
                    {
                        "name": "673",
                        "type": "text",
                        "label": "(YX)"
                    },
                    {
                        "name": "674",
                        "type": "text",
                        "label": "(YY)"
                    },
                    {
                        "name": "675",
                        "type": "text",
                        "label": "(YZ)"
                    },
                    {
                        "name": "676",
                        "type": "text",
                        "label": "(ZA)"
                    },
                    {
                        "name": "677",
                        "type": "text",
                        "label": "(ZB)"
                    },
                    {
                        "name": "678",
                        "type": "text",
                        "label": "(ZC)"
                    },
                    {
                        "name": "679",
                        "type": "text",
                        "label": "(ZD)"
                    },
                    {
                        "name": "680",
                        "type": "text",
                        "label": "(ZE)"
                    },
                    {
                        "name": "681",
                        "type": "text",
                        "label": "(ZF)"
                    },
                    {
                        "name": "682",
                        "type": "text",
                        "label": "(ZG)"
                    },
                    {
                        "name": "683",
                        "type": "text",
                        "label": "(ZH)"
                    },
                    {
                        "name": "684",
                        "type": "text",
                        "label": "(ZI)"
                    },
                    {
                        "name": "685",
                        "type": "text",
                        "label": "(ZJ)"
                    },
                    {
                        "name": "686",
                        "type": "text",
                        "label": "(ZK)"
                    },
                    {
                        "name": "687",
                        "type": "text",
                        "label": "(ZL)"
                    },
                    {
                        "name": "688",
                        "type": "text",
                        "label": "(ZM)"
                    },
                    {
                        "name": "689",
                        "type": "text",
                        "label": "(ZN)"
                    },
                    {
                        "name": "690",
                        "type": "text",
                        "label": "(ZO)"
                    },
                    {
                        "name": "691",
                        "type": "text",
                        "label": "(ZP)"
                    },
                    {
                        "name": "692",
                        "type": "text",
                        "label": "(ZQ)"
                    },
                    {
                        "name": "693",
                        "type": "text",
                        "label": "(ZR)"
                    },
                    {
                        "name": "694",
                        "type": "text",
                        "label": "(ZS)"
                    },
                    {
                        "name": "695",
                        "type": "text",
                        "label": "(ZT)"
                    },
                    {
                        "name": "696",
                        "type": "text",
                        "label": "(ZU)"
                    },
                    {
                        "name": "697",
                        "type": "text",
                        "label": "(ZV)"
                    },
                    {
                        "name": "698",
                        "type": "text",
                        "label": "(ZW)"
                    },
                    {
                        "name": "699",
                        "type": "text",
                        "label": "(ZX)"
                    },
                    {
                        "name": "700",
                        "type": "text",
                        "label": "(ZY)"
                    },
                    {
                        "name": "701",
                        "type": "text",
                        "label": "(ZZ)"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 145,
                    "y": 293,
                    "name": "Row Found?"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 4,
                            "module": "google-sheets:updateRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 6401856
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "6": "{{ifempty(1.CallStatus; ifempty(1.RecordingStatus; \"\"))}}",
                                    "27": "{{ifempty(1.CallDuration; ifempty(1.RecordingDuration; \"\"))}}",
                                    "45": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\"; \"America/New_York\")}}"
                                },
                                "sheetId": "Call_Logs",
                                "rowNumber": "{{2.__ROW_NUMBER__}}",
                                "spreadsheetId": "/1i5ypJyAdCShBq3AacjfC2uPdlcMZi-nkSH5IWhfU_9o",
                                "includesHeaders": true,
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 900,
                                    "y": 0,
                                    "name": "Update Call_Logs (Status + Duration + Updated_At)"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Call_Logs"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "RK_Field_Reporting_MASTER"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "Call_Log_ID (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "CallSid (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "ParentCallSid (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "AccountSid (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "From (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "To (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "CallStatus (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "Direction (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "ApiVersion (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "FromCity (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "FromState (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "FromZip (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "FromCountry (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "ToCity (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "ToState (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "ToZip (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "ToCountry (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "CallerName (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "Digits (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "Mode (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "Language (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "ReportType (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "Severity_Input (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "SpeechResult (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Confidence_Input (Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Recording_ID (Z)"
                                                        },
                                                        {
                                                            "name": "26",
                                                            "type": "text",
                                                            "label": "Recording_URL (AA)"
                                                        },
                                                        {
                                                            "name": "27",
                                                            "type": "text",
                                                            "label": "Recording_Duration (AB)"
                                                        },
                                                        {
                                                            "name": "28",
                                                            "type": "text",
                                                            "label": "Reporter_Phone_E164 (AC)"
                                                        },
                                                        {
                                                            "name": "29",
                                                            "type": "text",
                                                            "label": "Reporter_Worker_ID (AD)"
                                                        },
                                                        {
                                                            "name": "30",
                                                            "type": "text",
                                                            "label": "Reporter_Type (AE)"
                                                        },
                                                        {
                                                            "name": "31",
                                                            "type": "text",
                                                            "label": "Trust_Tier (AF)"
                                                        },
                                                        {
                                                            "name": "32",
                                                            "type": "text",
                                                            "label": "Needs_Verification (AG)"
                                                        },
                                                        {
                                                            "name": "33",
                                                            "type": "text",
                                                            "label": "Attempt_Number (AH)"
                                                        },
                                                        {
                                                            "name": "34",
                                                            "type": "text",
                                                            "label": "Idempotency_Key (AI)"
                                                        },
                                                        {
                                                            "name": "35",
                                                            "type": "text",
                                                            "label": "Detected_Language (AJ)"
                                                        },
                                                        {
                                                            "name": "36",
                                                            "type": "text",
                                                            "label": "Transcript_AI (AK)"
                                                        },
                                                        {
                                                            "name": "37",
                                                            "type": "text",
                                                            "label": "AI_Summary (AL)"
                                                        },
                                                        {
                                                            "name": "38",
                                                            "type": "text",
                                                            "label": "Severity_Tier (AM)"
                                                        },
                                                        {
                                                            "name": "39",
                                                            "type": "text",
                                                            "label": "Confidence_AI (AN)"
                                                        },
                                                        {
                                                            "name": "40",
                                                            "type": "text",
                                                            "label": "Transcript_Original (AO)"
                                                        },
                                                        {
                                                            "name": "41",
                                                            "type": "text",
                                                            "label": "Summary_Original (AP)"
                                                        },
                                                        {
                                                            "name": "42",
                                                            "type": "text",
                                                            "label": "SiteRow (AQ)"
                                                        },
                                                        {
                                                            "name": "43",
                                                            "type": "text",
                                                            "label": "Worker_ID (AR)"
                                                        },
                                                        {
                                                            "name": "44",
                                                            "type": "text",
                                                            "label": "Manifest_Date (AS)"
                                                        },
                                                        {
                                                            "name": "45",
                                                            "type": "text",
                                                            "label": "Updated_At (AT)"
                                                        },
                                                        {
                                                            "name": "46",
                                                            "type": "text",
                                                            "label": "Notes (AU)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "https://docs.google.com/spreadsheets/d/1b_Uba8LFmbV14P3UHJnzSnaJ5s-kqtEUt4HVO4iYc6k/edit?usp=sharing (admin@rkcorp.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "rowNumber",
                                        "type": "uinteger",
                                        "label": "Row number",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "Call_Log_ID (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "CallSid (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "ParentCallSid (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "AccountSid (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "From (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "To (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "CallStatus (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "Direction (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "ApiVersion (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "FromCity (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "FromState (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "FromZip (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "FromCountry (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "ToCity (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "ToState (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "ToZip (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "ToCountry (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "CallerName (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "Digits (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "Mode (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "Language (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "ReportType (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "Severity_Input (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "SpeechResult (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Confidence_Input (Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Recording_ID (Z)"
                                            },
                                            {
                                                "name": "26",
                                                "type": "text",
                                                "label": "Recording_URL (AA)"
                                            },
                                            {
                                                "name": "27",
                                                "type": "text",
                                                "label": "Recording_Duration (AB)"
                                            },
                                            {
                                                "name": "28",
                                                "type": "text",
                                                "label": "Reporter_Phone_E164 (AC)"
                                            },
                                            {
                                                "name": "29",
                                                "type": "text",
                                                "label": "Reporter_Worker_ID (AD)"
                                            },
                                            {
                                                "name": "30",
                                                "type": "text",
                                                "label": "Reporter_Type (AE)"
                                            },
                                            {
                                                "name": "31",
                                                "type": "text",
                                                "label": "Trust_Tier (AF)"
                                            },
                                            {
                                                "name": "32",
                                                "type": "text",
                                                "label": "Needs_Verification (AG)"
                                            },
                                            {
                                                "name": "33",
                                                "type": "text",
                                                "label": "Attempt_Number (AH)"
                                            },
                                            {
                                                "name": "34",
                                                "type": "text",
                                                "label": "Idempotency_Key (AI)"
                                            },
                                            {
                                                "name": "35",
                                                "type": "text",
                                                "label": "Detected_Language (AJ)"
                                            },
                                            {
                                                "name": "36",
                                                "type": "text",
                                                "label": "Transcript_AI (AK)"
                                            },
                                            {
                                                "name": "37",
                                                "type": "text",
                                                "label": "AI_Summary (AL)"
                                            },
                                            {
                                                "name": "38",
                                                "type": "text",
                                                "label": "Severity_Tier (AM)"
                                            },
                                            {
                                                "name": "39",
                                                "type": "text",
                                                "label": "Confidence_AI (AN)"
                                            },
                                            {
                                                "name": "40",
                                                "type": "text",
                                                "label": "Transcript_Original (AO)"
                                            },
                                            {
                                                "name": "41",
                                                "type": "text",
                                                "label": "Summary_Original (AP)"
                                            },
                                            {
                                                "name": "42",
                                                "type": "text",
                                                "label": "SiteRow (AQ)"
                                            },
                                            {
                                                "name": "43",
                                                "type": "text",
                                                "label": "Worker_ID (AR)"
                                            },
                                            {
                                                "name": "44",
                                                "type": "text",
                                                "label": "Manifest_Date (AS)"
                                            },
                                            {
                                                "name": "45",
                                                "type": "text",
                                                "label": "Updated_At (AT)"
                                            },
                                            {
                                                "name": "46",
                                                "type": "text",
                                                "label": "Notes (AU)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 5,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "OK",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "text/plain; charset=utf-8"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1797,
                                    "y": -13,
                                    "name": "Respond 200 (Found)"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "OK (No matching CallSid in Call_Logs)",
                                "status": "200",
                                "headers": [
                                    {
                                        "key": "Content-Type",
                                        "value": "text/plain; charset=utf-8"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 926,
                                    "y": 630,
                                    "name": "Respond 200 (Not Found — no silent failure)"
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose",
                                            "items": [
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}